/* Basic reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("/static/uploads/th_2.jpg"); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

/* Main content container */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

form {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent form background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Input file styling */
input[type="file"] {
    padding: 10px;
    background-color: #fff;
    border: none;
    color: #333;
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    form {
        width: 90%;
    }
}
